[user]
	email = sander.bogaert@gmail.com
	name = Sander Bogaert
[push]
	default = simple
[color]
	ui = auto

# Use git and git+ssh instead of https
[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
